html, body{
  margin: 0;
  padding: 0;
  background-color: green;
  color: white;
  box-sizing: border-box;
}

.title{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 22px;
}
.carta{
  position: relative;
  left: 100px;
  margin-left: -75px;
  width: 120px;
}

#computadora-cartas, #jugador-cartas{
  height: 180px;
}